<%= render 'shared/title', title: "#{@subject.name}'s is your subject" %>

<div class ="row">   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well center">
        <div class="panel panel-default" style="width: 80%;">
            <div class="panel-heading"><b>Name</b></div>
            <div class="panel-body"><%= @subject.name %></div>
        </div>
        <p>
            <span class="quite"><small>Created <%= time_ago_in_words(@subject.created_at) %> ago</span>
        </p>
        <p>
            <span class="quite"><small>Updated <%= time_ago_in_words(@subject.updated_at) %> ago</span>
        </p>
    </div>
</div>
